<!DOCTYPE html>
<html lang="en">
<head>
    <%- partial('_partials/head') %>
</head>
<body>
    <%- partial('_partials/svgicons') %>
    
    <%- partial('_partials/header') %>
    
    <main class="siteMain">
        <%- body %>
    </main>

    <%- partial('_partials/footer') %>
    <%- js('js/animOnScroll') %>
</body>
</html>