<!DOCTYPE HTML>

<% if (item.tags){ %>
<html lang="pt-BR" itemscope itemtype="http://schema.org/BlogPosting">
<% } else { %>
<html lang="pt-BR" itemscope itemtype="http://schema.org/WebPage">
<% } %>

<%- partial('components/head') %>

<body>
<div class="blog">
  <div class="content">

    <%- partial('components/header') %>

    <main class="site-main posts-loop">
    <%- body %>
    </main>

    <%- partial('components/footer') %>
    <%- partial('components/googleanalytics') %>

  </div>
</div>
</body>
</html>
