<header>
  <div class="site-branding">
    <h1 class="site-title">
      <a href="<%- config.root %>">
        <svg class="logo-site" xmlns="http://www.w3.org/2000/svg" viewBox="-146 106 207 290"><path d="M-42.7 308.2c-54.5 0-98.8-44.3-98.8-98.8s44.3-98.8 98.8-98.8 98.8 44.3 98.8 98.8-44.3 98.8-98.8 98.8z" fill="#FFF"/><path d="M-42.7 115.1c52 0 94.3 42.3 94.3 94.3s-42.3 94.3-94.3 94.3-94.3-42.3-94.3-94.3 42.3-94.3 94.3-94.3m0-9c-57 0-103.3 46.3-103.3 103.3s46.3 103.3 103.3 103.3S60.6 266.4 60.6 209.4 14.4 106.1-42.7 106.1z" fill="#FF6A00"/><g><path fill="#FF6A00" d="M-1.1 238.4h-21.4v-50.3l21.4-21.3"/><linearGradient id="a" gradientUnits="userSpaceOnUse" x1="-78.73" y1="295.62" x2="-75.312" y2="299.038" gradientTransform="matrix(1 0 0 -1 0 504)"><stop offset="0" stop-color="#FF6A00"/><stop offset="1" stop-color="#8E0000"/></linearGradient><path fill="url(#a)" d="M-62.9 238.4h-21.3V168l21.3 21.4"/><path fill="#FF6A00" d="M-27.4 223.4l-15.1 15.1-41.7-41.7v-30"/></g><g><g fill="#FF6A00"><path d="M-84.2 344.3l-7.2 14.6H-95l-7.2-14.6v16.8h-6v-26.7h8.1l6.9 14.7 6.9-14.7h8v26.7h-6l.1-16.8zM-52.4 361.1l-2.5-5.8h-11.2l-2.5 5.8h-6.3l11.5-26.7h5.8l11.5 26.7h-6.3zm-8.1-18.8l-3.4 7.8h6.7l-3.3-7.8zM-21 343.3c0 4.3-1.7 7-5.1 8.3l6.8 9.6h-7.3l-5.9-8.5h-4.1v8.5h-6v-26.7h10.1c4.2 0 7.1.7 8.9 2.1 1.7 1.3 2.6 3.6 2.6 6.7zm-7.2 3.1c.7-.7 1.1-1.7 1.1-3.2 0-1.4-.4-2.4-1.1-3-.8-.5-2.1-.8-4-.8h-4.5v7.9h4.4c2 .1 3.4-.2 4.1-.9zM-14.6 334.4h6v26.7h-6v-26.7zM20.6 357.4c-2.7 2.6-6 4-10 4s-7.3-1.3-10-4-4-5.9-4-9.8c0-3.9 1.3-7.2 4-9.8s6-4 10-4 7.3 1.3 10 4c2.7 2.6 4 5.9 4 9.8 0 3.9-1.3 7.2-4 9.8zm-2-9.8c0-2.4-.8-4.4-2.3-6.1s-3.4-2.5-5.6-2.5c-2.2 0-4.1.8-5.6 2.5s-2.3 3.7-2.3 6.1.8 4.4 2.3 6.1 3.4 2.5 5.6 2.5c2.2 0 4.1-.8 5.6-2.5s2.3-3.7 2.3-6.1zM-102.3 374.2c-.6.5-.9 1.1-.9 1.9s.3 1.4 1.1 1.9c.7.5 2.3 1 4.9 1.6 2.5.6 4.5 1.6 5.9 2.8 1.4 1.2 2.1 3.1 2.1 5.5s-.9 4.3-2.7 5.8-4.2 2.2-7.1 2.2c-4.2 0-8-1.6-11.4-4.7l3.6-4.4c2.9 2.5 5.5 3.8 8 3.8 1.1 0 2-.2 2.6-.7s.9-1.1.9-1.9-.3-1.4-1-1.9-2-.9-3.9-1.4c-3.1-.7-5.4-1.7-6.8-2.9-1.4-1.2-2.2-3-2.2-5.6 0-2.5.9-4.5 2.7-5.9 1.8-1.4 4.1-2.1 6.8-2.1 1.8 0 3.6.3 5.3.9 1.8.6 3.3 1.5 4.7 2.6l-3 4.4c-2.3-1.8-4.7-2.6-7.2-2.6-1.1 0-1.8.2-2.4.7zM-61.7 391.9c-2.7 2.6-6 4-10 4s-7.3-1.3-10-4-4-5.9-4-9.8 1.3-7.2 4-9.8 6-4 10-4 7.3 1.3 10 4c2.7 2.6 4 5.9 4 9.8s-1.3 7.1-4 9.8zm-2-9.8c0-2.4-.8-4.4-2.3-6.1s-3.4-2.5-5.6-2.5-4.1.8-5.6 2.5-2.3 3.7-2.3 6.1.8 4.4 2.3 6.1 3.4 2.5 5.6 2.5 4.1-.8 5.6-2.5 2.3-3.8 2.3-6.1zM-45.6 388.7c1 1.2 2.3 1.9 4 1.9s3-.6 4-1.9c1-1.2 1.5-2.9 1.5-5.1v-14.7h6v14.9c0 3.9-1.1 6.8-3.2 8.9s-4.9 3.1-8.2 3.1c-3.3 0-6.1-1-8.2-3.1-2.2-2.1-3.2-5.1-3.2-8.9v-14.9h6v14.7c-.1 2.1.3 3.8 1.3 5.1zM-12.6 374v21.6h-6V374h-7.6v-5.2h21.1v5.2h-7.5zM21 391.9c-2.7 2.6-6 4-10 4s-7.3-1.3-10-4-4-5.9-4-9.8 1.3-7.2 4-9.8 6-4 10-4 7.3 1.3 10 4c2.7 2.6 4 5.9 4 9.8s-1.3 7.1-4 9.8zm-2-9.8c0-2.4-.8-4.4-2.3-6.1s-3.4-2.5-5.6-2.5c-2.2 0-4.1.8-5.6 2.5s-2.3 3.7-2.3 6.1.8 4.4 2.3 6.1 3.4 2.5 5.6 2.5c2.2 0 4.1-.8 5.6-2.5 1.6-1.7 2.3-3.8 2.3-6.1z"/></g></g></svg>
        <span class="text-hide"><%= config.title %></span>
      </a>
    </h1>
    <p class="site-description"><% if (config.subtitle){ %><%= config.subtitle %><% } %></p>
  </div>
  <nav class="site-navigation">
    <ul>
      <% for (var i in theme.menu){ %>
        <li><a href="<%- url_for(theme.menu[i]) %>"><%= __(i) %></a></li>
      <% } %>
    </ul>
  </nav>
</header>
