<a href="https://github.com/omariosouto/omariosouto.github.io" class="githubCorner" aria-label="View source on Github">
    <svg class="githubCorner" width="80" height="80" viewBox="0 0 250 250" aria-hidden="true">
        <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
        <path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
        <path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path>
    </svg>
</a>
<header class="globalHeader">
    <a href="/">
        <svg class="globalHeader__logo" xmlns="http://www.w3.org/2000/svg" viewBox="-146 106 207 290">
            <path d="M-42.7 308.2c-54.5 0-98.8-44.3-98.8-98.8s44.3-98.8 98.8-98.8 98.8 44.3 98.8 98.8-44.3 98.8-98.8 98.8z" fill="#FFF"></path><path d="M-42.7 115.1c52 0 94.3 42.3 94.3 94.3s-42.3 94.3-94.3 94.3-94.3-42.3-94.3-94.3 42.3-94.3 94.3-94.3m0-9c-57 0-103.3 46.3-103.3 103.3s46.3 103.3 103.3 103.3S60.6 266.4 60.6 209.4 14.4 106.1-42.7 106.1z" fill="#FF6A00"></path>
            <g class="globalHeader__logoName">
                <path fill="#FF6A00" d="M-1.1 238.4h-21.4v-50.3l21.4-21.3"></path><linearGradient id="a" gradientUnits="userSpaceOnUse" x1="-78.73" y1="295.62" x2="-75.312" y2="299.038" gradientTransform="matrix(1 0 0 -1 0 504)"><stop offset="0" stop-color="#FF6A00"></stop><stop offset="1" stop-color="#8E0000"></stop></linearGradient><path fill="url(#a)" d="M-62.9 238.4h-21.3V168l21.3 21.4"></path><path fill="#FF6A00" d="M-27.4 223.4l-15.1 15.1-41.7-41.7v-30"></path>
            </g>
            <g class="globalHeader__logoText">
                <g fill="#FF6A00">
                    <path d="M-84.2 344.3l-7.2 14.6H-95l-7.2-14.6v16.8h-6v-26.7h8.1l6.9 14.7 6.9-14.7h8v26.7h-6l.1-16.8zM-52.4 361.1l-2.5-5.8h-11.2l-2.5 5.8h-6.3l11.5-26.7h5.8l11.5 26.7h-6.3zm-8.1-18.8l-3.4 7.8h6.7l-3.3-7.8zM-21 343.3c0 4.3-1.7 7-5.1 8.3l6.8 9.6h-7.3l-5.9-8.5h-4.1v8.5h-6v-26.7h10.1c4.2 0 7.1.7 8.9 2.1 1.7 1.3 2.6 3.6 2.6 6.7zm-7.2 3.1c.7-.7 1.1-1.7 1.1-3.2 0-1.4-.4-2.4-1.1-3-.8-.5-2.1-.8-4-.8h-4.5v7.9h4.4c2 .1 3.4-.2 4.1-.9zM-14.6 334.4h6v26.7h-6v-26.7zM20.6 357.4c-2.7 2.6-6 4-10 4s-7.3-1.3-10-4-4-5.9-4-9.8c0-3.9 1.3-7.2 4-9.8s6-4 10-4 7.3 1.3 10 4c2.7 2.6 4 5.9 4 9.8 0 3.9-1.3 7.2-4 9.8zm-2-9.8c0-2.4-.8-4.4-2.3-6.1s-3.4-2.5-5.6-2.5c-2.2 0-4.1.8-5.6 2.5s-2.3 3.7-2.3 6.1.8 4.4 2.3 6.1 3.4 2.5 5.6 2.5c2.2 0 4.1-.8 5.6-2.5s2.3-3.7 2.3-6.1zM-102.3 374.2c-.6.5-.9 1.1-.9 1.9s.3 1.4 1.1 1.9c.7.5 2.3 1 4.9 1.6 2.5.6 4.5 1.6 5.9 2.8 1.4 1.2 2.1 3.1 2.1 5.5s-.9 4.3-2.7 5.8-4.2 2.2-7.1 2.2c-4.2 0-8-1.6-11.4-4.7l3.6-4.4c2.9 2.5 5.5 3.8 8 3.8 1.1 0 2-.2 2.6-.7s.9-1.1.9-1.9-.3-1.4-1-1.9-2-.9-3.9-1.4c-3.1-.7-5.4-1.7-6.8-2.9-1.4-1.2-2.2-3-2.2-5.6 0-2.5.9-4.5 2.7-5.9 1.8-1.4 4.1-2.1 6.8-2.1 1.8 0 3.6.3 5.3.9 1.8.6 3.3 1.5 4.7 2.6l-3 4.4c-2.3-1.8-4.7-2.6-7.2-2.6-1.1 0-1.8.2-2.4.7zM-61.7 391.9c-2.7 2.6-6 4-10 4s-7.3-1.3-10-4-4-5.9-4-9.8 1.3-7.2 4-9.8 6-4 10-4 7.3 1.3 10 4c2.7 2.6 4 5.9 4 9.8s-1.3 7.1-4 9.8zm-2-9.8c0-2.4-.8-4.4-2.3-6.1s-3.4-2.5-5.6-2.5-4.1.8-5.6 2.5-2.3 3.7-2.3 6.1.8 4.4 2.3 6.1 3.4 2.5 5.6 2.5 4.1-.8 5.6-2.5 2.3-3.8 2.3-6.1zM-45.6 388.7c1 1.2 2.3 1.9 4 1.9s3-.6 4-1.9c1-1.2 1.5-2.9 1.5-5.1v-14.7h6v14.9c0 3.9-1.1 6.8-3.2 8.9s-4.9 3.1-8.2 3.1c-3.3 0-6.1-1-8.2-3.1-2.2-2.1-3.2-5.1-3.2-8.9v-14.9h6v14.7c-.1 2.1.3 3.8 1.3 5.1zM-12.6 374v21.6h-6V374h-7.6v-5.2h21.1v5.2h-7.5zM21 391.9c-2.7 2.6-6 4-10 4s-7.3-1.3-10-4-4-5.9-4-9.8 1.3-7.2 4-9.8 6-4 10-4 7.3 1.3 10 4c2.7 2.6 4 5.9 4 9.8s-1.3 7.1-4 9.8zm-2-9.8c0-2.4-.8-4.4-2.3-6.1s-3.4-2.5-5.6-2.5c-2.2 0-4.1.8-5.6 2.5s-2.3 3.7-2.3 6.1.8 4.4 2.3 6.1 3.4 2.5 5.6 2.5c2.2 0 4.1-.8 5.6-2.5 1.6-1.7 2.3-3.8 2.3-6.1z"></path>
                </g>
            </g>
        </svg>
    </a>

    <h1 class="globalHeader__title"><strong>@<%= theme.username.site %></strong></h1>

    <nav class="globalHeader__navMenu">
        <ul class="globalHeader__menu">
            <% for (var i in theme.menu){ %>
            <li class="globalHeader__item">
                <a class="globalHeader__link" href="<%- url_for(theme.menu[i]) %>">
                    <svg class="globalHeader__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 125"><path d="M37.525 67.525a3.5 3.5 0 1 0 4.95 4.95l20-20a3.5 3.5 0 0 0 0-4.95l-20-20a3.5 3.5 0 1 0-4.95 4.95L55.06 50.01 37.525 67.525z" fill="#000" fill-rule="evenodd"/></svg> <%= i %>
                </a>
            </li>
            <% } %>
        </ul> 
    </nav>

    <p class="globalHeader__description">
        <%= theme.description %>
    </p>    

    <ul class="socialLinks globalHeader__socialLinks">
        <li class="socialLinks__item">
            <a class="socialLinks__link" target="_blank" href="https://facebook.com/<%= theme.username.facebook %>">
                <svg class="socialLinks__icon"><use xlink:href="#facebook-icon"></svg>
            </a>
        </li>
        <li class="socialLinks__item">
            <a class="socialLinks__link" target="_blank" href="https://twitter.com/<%= theme.username.twitter %>">
                <svg class="socialLinks__icon"><use xlink:href="#twitter-icon"></svg>
            </a>
        </li>
        <li class="socialLinks__item">
            <a class="socialLinks__link" target="_blank" href="https://linkedin.com/in/<%= theme.username.linkedin %>">
                <svg class="socialLinks__icon"><use xlink:href="#linkedin-icon"></svg>
            </a>
        </li>
        <li class="socialLinks__item">
            <a class="socialLinks__link" target="_blank" href="https://www.youtube.com/c/@<%= theme.username.youtube %>">
                <svg class="socialLinks__icon"><use xlink:href="#youtube-icon"></svg>
            </a>
        </li>
    </ul>
</header>
